html {
	scroll-padding-top: 250px;
}

body{
  background-color: #ffffff;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding-top: 170px;

}

#header {	 
	background-color: #bce09e;	
	z-index: 10;
}

.navbar {
	position:fixed;
	top: 0;
	width: 100%;

}
.navbar-brand a:hover, .navbar-brand a:link {
	text-decoration: none;
	padding-bottom: 1vw;
}
.navbar-brand h1{
	font-family: 'Noto Nastaliq Urdu', serif;
	font-size:calc(100% + 2vw);
	text-shadow: 1px 1px #222;
}

.navbar-light .navbar-toggler{
    border-color: rgba(255,255,0,0);
		color: rgba(255,0,0,0);
}

.nav-link{
	color: rgb(0, 0, 0);
}

.navbar-light .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2894, 124, 62, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2885, 124, 62, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn:focus {
	/* outline: none !important;  */
	box-shadow: none;
}

button.btn {
	padding: 0%;
}

.accordion-button::after {
	margin-left: 0;
} 

.accordion-button:focus{
	box-shadow:none;
}

.accordion-button:not(.collapsed) {
	background-color: white;
	color: green;
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23008000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");    transform: rotate(-180deg);
}

.accordion-button:active {
	background-color: #bce09e;
}


div.container{
	box-sizing: border-box;;
}

div.overview{
	margin-bottom: 2em;
}

div.meat{
	margin-left: 4em;
	margin-top: 3em;
}

/* .kholase > ul > li {
	margin-top: 1em;
} */


/* reserve space for lazyload */
div.tweet{
	aspect-ratio: 1 / 1.5;
  }

div.kholase.col-7{
	margin-top: 2em;
	margin-right: 2em;
}